
// COLORS
$color-primary: #192140;
$color-secondary: #DCF10D;
$color-accent1: #0266FF;
$color-accent2: #D7F8FF;
$color-accent3: #10131C;
$color-white: #FFFFFF;
$color-white-shade1: #F8F9FC;
$color-white-shade2: #C0BFCF; 
$color-white-shade4: #9D9DB5;


$section-padding: 2em;
$section-mobile-padding: 2.5em 1.5em;
$border-size: 1px;
$border-color: $color-white-shade4;
