@use 'mixins';
@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    min-width: 20rem;
}

// Nav 
.nav-container {
    @include mixins.flex-vertical-center();
    color: white;
    background-color: #192140;
    padding: 5em 1.5em 1em;
}

.refocus-logo {
    width: 8rem;
}

.nav-menu-bars {
    @include mixins.flex-middle();
    margin-left: auto;
    border: variables.$border-size solid variables.$color-accent1;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.125rem;
    color: variables.$color-accent1;
}

.nav-menus, .signup-btn, .login-btn {
    display: none;
}

// News Cards

.news-section{
    color: variables.$color-accent3;
    padding: variables.$section-mobile-padding;
}

h1 {
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 1.1875rem;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(17rem,1fr));
    justify-content:space-evenly;
    gap: 2.5rem;
    margin: 0 auto;
}

.news-card, .image-box, .image-box img {
    border-radius: 0.375rem;
}

.news-card {
    position: relative;
    max-height: 18.75rem;
}

article {
    width: 100%;
    height: 100%;
}

.image-box {
    transition: all 0.1s ease-in-out;
    height: 100%;
}

.image-box img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    position: relative;
    z-index: -2;
}

.card-content {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 6px 6px;
    padding: 0.625em 1.25em;
    background: #F8F9FC;
}

.card-elem {
    display: flex;
    justify-content: space-between;
    margin-top: 0.625em;
    border-top: 0.0625rem solid variables.$border-color;
    padding-top: 0.625em;
    font-size: 0.75rem;
    color: variables.$color-white-shade4;
}

.card-date {
    border: 0.0625rem solid variables.$border-color;
    border-radius: 2.5rem;
    padding: 0.25em 0.625em;
}

.heart {
    gap: 0.3125em;
}

.heart i {
    font-size: 1.0625rem;
}

.read-icon {
    margin-bottom: 0.5em;
}

.close-btn {
    position: absolute;
    right: 0.625em;
    top: 0.625em;
    color: white;
}

.nav-menu-bars, .close-btn,.read-icon, .heart i {
    cursor: pointer;
}

.card-date, .heart {
    @include mixins.flex-middle();
}

.fa-solid, .heart i:hover, .close-btn:hover, .nav-menus li:hover, .signup-btn:hover, .login-btn:hover{
    color: variables.$color-accent1;
}

// Footer

.footer-container, .footer-container ul, .social-icons, .legality-text-mobile {
    display: flex;
}

.footer-container {
    flex-direction: column;
    gap: 2.5em;
    font-size: 12px;
    background-color: variables.$color-accent3;
    padding: variables.$section-mobile-padding;
    color: variables.$color-white;
}

.footer-container ul {
    flex-wrap: wrap;
    gap: 0.5em;
}

.footer-list-title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.list {
    color: variables.$color-accent2;
    list-style: none;
}

.list, .social {
    cursor: pointer;
}

.footer-blog-list, .footer-course-list {
    width: 70%;
}

.follow-us {
    margin-bottom: 0.5em;
    color: variables.$color-white-shade4;
}

.social-icons{
    max-width: 18.75rem;
    justify-content: space-between;
    font-size: 1rem;
    gap: 0.9375rem;
}

.social {
    @include mixins.flex-middle();
    background-color: variables.$color-primary;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.footer-legality {
    opacity: 0.4;
    font-weight: 200;
    letter-spacing: -0.03em;
}

.legality-text-mobile {
    flex-direction: column;
    gap: 0.5em;
}

.legality-text-wide {
    display: none;
}

// Media Quaries
@media only screen and (min-width: 58.75rem){
    // Nav
    .nav-container {
        gap: 3.75rem;
        padding: 1em 3.5em;
    }

    .nav-menu-bars {
        display:none;
    }

    .nav-menus {
        @include mixins.flex-vertical-center();
        margin-left: auto;
        gap: 1.875rem;
        list-style-type: none;
    }

    .nav-menus li:first-child {
        color: variables.$color-secondary;
        border-bottom: variables.$border-size solid variables.$color-secondary;
    }

    .signup-btn, .login-btn {
        @include mixins.flex-middle();
        font-weight: 700;
        color: variables.$color-white-shade4;
        padding: 1rem 1.25rem;
        background-color: variables.$color-primary;
        border: none;
        border-radius: 3.125rem;
    }

    .nav-buttons {
        @include mixins.flex-vertical-center();
    }

    .nav-menus li, .signup-btn, .login-btn {
        font-size: 1rem;
        cursor: pointer;
    }

    .login-btn {
        color: #0266FF;
        border: 1px solid #0266FF;
    }

    .login-btn:active {
        color: variables.$color-white;
        background-color: variables.$color-accent1;
    }

    // Cards
    h1 {
        font-size: 1.25rem;
        line-height: 1.625rem;
    }

    .news-section, .footer-container {
        padding: 3.5rem;
    }

    .news-container {
        max-width: 75rem;
    }

    .news-card {
        height: 18.75em;
    }

    // Footer
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 30%;
    }

    .footer-blog-list, .footer-course-list {
        width: 100%;
    }

    .footer-list-title {
        margin-bottom: 1em;
    }

    .footer-blog-list ul, .footer-course-list ul{
        gap: 1em;
    }

    .footer-social-list {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .social-icons {
        max-width: 100%;
    }

    .footer-legality, .legality-text-wide {
        display: flex;
    }

    .footer-legality {
        align-items: end;
    }

    .legality-text-mobile {
        display: none;
    }
    
    .legality-text-wide {
        flex-wrap: wrap;
        gap: 1em;
    }
}
